@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto";
  --color-1: #e740bd;
  --color-2: #fff;
  --color-3: #ffbd7e;
  --color-4: #555555;
  --color-5: #9b9b9b;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background: rgb(255, 189, 126);
  background: linear-gradient(
    60deg,
    rgba(255, 189, 126, 1) 0%,
    rgba(231, 64, 189, 1) 100%
  );
  color: var(--color-2);
}

main {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-basis: 650px;
  height: 350px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-shrink: 1;
  flex-basis: 500px;
  height: 250px;
  color: var(--color-4);
  background-color: var(--color-2);
  border-radius: 24px;
}

.card__profile-pic {
  width: 200px;
  height: 180px;
  position: relative;
  left: -50px;
  border-radius: 16px;
  overflow: hidden;
}

.card__profile-pic > img {
  width: 100%;
  height: 100%;
}

.card__info {
  position: relative;
  left: -30px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.card__info__name > h1 {
  font-size: 1.5rem;
  margin: 0;
}
.card__info__name > h2 {
  font-size: 1rem;
  color: var(--color-5);
  font-weight: lighter;
  margin: 0;
}
.card__info__social {
  display: flex;
}

.card__info__post {
  width: 60px;
}

.card__info__followers {
  width: 80px;
}

.card__info__following {
  width: 80px;
}

.card__buttons > button {
  color: var(--color-5);
  font-size: 0.9rem;
  font-weight: 100;
  width: 100px;
  padding: 10px 15px;
  border: 1px solid var(--color-5);
  border-radius: 4px;
  background: var(--color-2);
  cursor: pointer;
}

/* Media Querys */

@media (min-width: 600px) {
  .card {
    /* background-color: red; */
  }
}

@media (max-width: 600px) {
  .card {
    flex-direction: column;
    height: 350px;
  }

  .card__profile-pic {
    top: -30px;
    left: 0 !important;
  }
  .card__info {
    align-items: center;
    top: -20px;
    left: 0 !important;
  }

  .socials {
    align-items: center !important;
  }
}

/* Modifications */

.socials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bold {
  font-size: 1.2rem;
  font-weight: bolder;
}

.info {
  font-size: 0.9rem;
  color: var(--color-5);
}

.color {
  color: var(--color-2) !important;
  background-color: var(--color-1) !important;
}
